@import "/node_modules/bootstrap/scss/bootstrap.scss";

:root {
  --heading: #F1F3FF;
  --btn-font-weight: 600;
  --btn-color: white;
  --btn-bg: #5CB85F;
  --btn-hover-bg: #449b47;
  --btn-hover-color: white;
  --btn-focus-shadow-rgb: #377f3a;
  --btn-active-color: white;
  --btn-active-bg: #377f3a;
  --primary: #0D28A6;
}

.bg-cs-primary {
  background-color: var(--primary);
}
.bg-heading {
  background-color: var(--heading);
}

.btn-button {
  background-color: var(--btn-bg);
  font-weight: var(--btn-font-weight);
  color: var(--btn-color);
  border-radius: .25rem;
  border: none;
  padding: 0 1rem;
}

.btn-button:hover {
  background-color: var(--btn-hover-bg);
  color: var(--btn-hover-color);
}

.btn-button:active {
  background-color: var(--btn-active-bg);
  color: var(--btn-active-color);
}

.btn-button:focus {
  box-shadow: 0 0 0 0.2rem rgba(var(--btn-focus))
}

.mb-7 {
  margin-bottom: 6rem;
}
.mt-7 {
  margin-top: 6rem;
}

.ms-n5 {
  margin-left: -4rem;
}

.ps-7 {
  padding-left: 7rem;
}

.w-6 {
  width: 6%;
}

.w-10 {
  width: 10%;
}

.fs-7 {
  font-size: 0.75rem;
}

.w-24 {
  width: 24%;
}

.w-cover {
  width: 620px;
}

