@import "/node_modules/bootstrap/scss/bootstrap.scss";

:root {
  --heading: #F1F3FF;
  --image: url('../images/rent/background.jpg');
  --btn-font-weight: 600;
  --btn-color: white;
  --btn-bg: #5CB85F;
  --btn-hover-bg: #449b47;
  --btn-hover-color: white;
  --btn-focus-shadow-rgb: #377f3a;
  --btn-active-color: white;
  --btn-active-bg: #377f3a;
  --bs-disabled-color: #fff;
  --bs-disabled-bg: #5CB85F;
  --bs-disabled-border-color: #5CB85F;
  --bs-disabled-opacity: 0.65;
  --primary: #0D28A6;
}

/* Home */
.bg-cs-primary {
  background-color: var(--primary);
}
.bg-heading {
  background-color: var(--heading);
}
.bg-image {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ),
    var(--image);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 10% 60%;
}
.btn-button {
  background-color: var(--btn-bg);
  font-weight: var(--btn-font-weight);
  color: var(--btn-color);
  border-radius: .25rem;
  border: none;
  padding: 0 1rem;
}
.btn-button:hover {
  background-color: var(--btn-hover-bg);
  color: var(--btn-hover-color);
}
.btn-button:active {
  background-color: var(--btn-active-bg);
  color: var(--btn-active-color);
}
.btn-button:focus {
  box-shadow: 0 0 0 0.2rem rgba(var(--btn-focus))
}
.btn-button:disabled, .btn-button.disabled, fieldset:disabled .btn-button {
  color: var(--bs-disabled-color);
  pointer-events: none;
  background-color: var(--bs-disabled-bg);
  border-color: var(--bs-disabled-border-color);
  opacity: var(--bs-disabled-opacity);
}

.mb-7 {
  margin-bottom: 6rem;
}

.w-9 {
  width: 9%;
}


@media (min-width: 0px) {
  button.control {
    height: 50%;
  }

  #home #title {
    width: 80%;
    font-size: 2.5rem;
  }

  #ourServices #title {
    font-size: 1.75rem;
  }

  #whyUs #title {
    font-size: 1.75rem;
  }

  #testimonial #title {
    font-size: 1.75rem;
  }

  #faq #title {
    font-size: 1.7rem
  }
}

/* Rent */
.beda {
   background: #f1f3ff;
}

.biru {
   background-color: #0d28a6;
   color: white;
   padding: 20px; /* Add padding for better spacing */
   text-align: center;
   width: 100%;
   max-width: 1000px;
}

.kontainer {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

@media (min-width: 576px) {
  #carouselExample {
    width: 75%;
    padding: 30px 0;
  }
}

@media (min-width: 992px) {
  button.control {
    height: 100%;
  }

  #carImg {
    width: 112%;
  }
}